<ng-container>
    @if (!isRAGE) {
        <div class="game-dev-menu" (mouseenter)="this.toggleGameDevMenu(true)" (mouseleave)="this.toggleGameDevMenu(false)">
            @if (devMode) {
                <div class="game-dev-menu-frame">
                    @for (component_name of getAllComponentNames(); track $index) {
                        <ng-container>
                            <span class="game-dev-menu-content" (click)="this.onComponentSelected(component_name)">
                                {{ component_name }}
                            </span>
                        </ng-container>
                    }

                </div>
            }
        </div>
    }

    @for (component of gameComponents; track component) {
        <view-component [component]="component.identifier"></view-component>
    }
</ng-container>

@if (!isRAGE) {
    <div class="w-full h-[100vh] fullscreen-background"></div>
}